body {
  min-width: 600px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
 margin:5em;
 padding-bottom: 2em;
justify-content: center;
  font-family: 'Inter';
  box-sizing: content-box;
}

header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#logo {
  width: 20vh;
  margin-top: 2em;
  /* padding-top: 3em;
  padding-left: 10em; */
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

#buttons {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: auto;
}

button {
  margin-top: 0.2em;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 40px;
  background-color: transparent;
  color: white;
  width: 340px;
  height: 70px;
  margin-right: 1.4em;
  font-weight: bold;
  box-shadow: 2px 2px 3px;
}

#nextButton {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-left: 70em;
  margin-top: -8em;
  
  
}

h1 {
  margin-top: 0;
  font-size: 60px;
  margin-bottom: 1em;
  font-weight: 700;
}

#footstr {
  text-align: center;
  margin-top: 10vh;
  font-weight: 500;
}

#violet {
  color: deeppink;
  font-weight: 500;
}

button:hover {
  background-color: rgb(224, 8, 123);
  color: white;
}

button.green {
  background-color: #4CAF50;  /* Colore verde per la risposta corretta */
  color: white;
}

button.red {
  background-color: #f44336;  /* Colore rosso per la risposta sbagliata */
  color: white;
}


/* timer */



@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center{display: flex;
  justify-content: center;
align-items: center;
text-align: center;
right: 30px;
top: 35px;
}


.main-container{width: 150px;
height:150px;
/* border: 1px black solid; */
position: absolute;
z-index: 1;
border-radius: 50%;
overflow: hidden;
background-color: #9A6A9E;
}

.semicircle{width: 50%;
height:100%;
position: absolute;
top: 0;
left:0;
transform-origin: right center;
/* animation: rotate 1s linear ;  */
}

.semicircle:nth-child(1){ /*indice 0*/
  background-color:  #00fff0;    
  z-index: 2;
}

.semicircle:nth-child(2){  /*indice 1*/
  background-color:   #00fff0; 
}

.semicircle:nth-child(3){
  background-color:#9A6A9E;
  z-index: 4;
  /* display: none; */
  
}

.outer-circle{
  height: 120px;
  width: 120px;
  background:linear-gradient(-270deg, rgba(2,0,36,1) 0%, rgba(108,35,120,1) 100%, rgba(0,212,255,1) 100%);

  border-radius: 50%;
  z-index: 5;
  /* display: none; */
}

#timer {padding: 1em;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
#timer h1 {font-size: 30px;
margin: 0;
font-weight: 100;
}
#timer p{font-size: 10px;
  margin: 0;;
padding: 0.6em;
font-weight: 100;}

.blur {filter: blur(5px);}