html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url(../Images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 600px;

  margin-left: 5em;

  font-family: Arial, Helvetica, sans-serif;
}

.logo-img {
  width: 20vh;
  margin-top: 2em;
}

article {
  margin-top: 4em;
}

.bold {
  font-weight: 800;
}
h1 {
  color: white;
  font-size: 60px;
}

h2 {
  color: #c2128d;
  margin-top: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 21px;
}

.paragraph {
  color: white;
  line-height: 1.2;
  font-weight: 100;
}

ul {
  margin-top: 2em;
  list-style: disc;
  line-height: 1.8;
  padding: 1.8em;
}

form {
  color: white;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 8vh;
  flex-wrap: nowrap;
}

#checkbox {
  width: 20px;
  height: 20px;
  border: solid white 2px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  margin: 1.5em;
  outline: none;
  appearance: none;
  box-sizing: border-box;
  min-width: 20px;
  min-height: 20px;
}

/* Cambia lo stile quando la checkbox è selezionata */
#checkbox:checked {
  background-color: white; /* Cambia lo sfondo a bianco */
  border: solid #c2128d 2px; /* Mantieni il bordo colorato */
}

/* Aggiungi la spunta verde e centrala */
#checkbox:checked::after {
  content: '';
  position: absolute;
  top: -4px; /* Regola per centrare verticalmente */
  left: 5px; /* Regola per centrare orizzontalmente */
  width: 6px;
  height: 14px;
  border: solid #c2128d;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}


label {
  display: inline-block;
  position: relative;
}

button {
  background-color: #00ffff;
  color: #0b143e;
  border: none;
  font-weight: bold;
  font-size: 22px;
  padding: 0.8em 2.5em;
  box-shadow: 3px 3px 25px #00ffff;
  display: inline-block;
  margin-left: 40vh;
  cursor: pointer;
}
